{% extends 'delivery/layout.html' %}


{% block body %}

{% if not orders %}
<h3>There is no active orders yet!</h3>
{% endif %}

{% for order in orders %}
<div class="card mb-4 border-dark order_instance">
    <div class="card-header bg-light text-dark">

        <strong>Order #{{order.id}}</strong>
        <span class="order-status__span bg-warning">{{order.state}}</span>
        <span style="float: right;">{{order.received_at}}</span>

        {% if order.state == "preparing" %}
        <hr class="my-2">
        <form action="{% url 'assign_deliveryman' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="orderId" hidden value="{{order.id}}">
            <select name="deliveryman" id="" class="form-select deliver-man__selector">
                <option disabled>Choose...</option>
                <option value="deliveryman-1">deliveryman-1</option>
                <option value="deliveryman-2">deliveryman-2</option>
                <option value="deliveryman-3">deliveryman-3</option>
            </select>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        {% elif order.state == "submitted" %}
        <hr class="my-2">
        <form action="{% url 'finish_order' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="orderId" hidden value="{{order.id}}">
            <button type="submit" class="btn btn-danger">Finish Order!</button>
        </form>
        {% endif %}

    </div>
    <div class="card-body">
        <h6><strong>Customer: </strong> {{order.user_client.username}} ({{order.user_client.phone}})</h6>
        <p><strong>Address: </strong>{{order.user_client.address}}</p>
        {% for item in order.orderItems.all %}
        <div class="order-item bg-light text-dark border border-dark py-1 px-3 m-1 rounded">
            <h5><u>{{item.item.name}}</u></h5>
            <small>Quantity: {{item.amount}}</small>
            <small>Item price: {{item.item.price}}</small>
        </div>
        {% endfor %}
        <h6 class="ms-4 mt-3 total-cost__text"></h6>
    </div>
</div>
{% endfor %}
</div>



<script>
    // Calculating the total cost for each order
    document.querySelectorAll(".order_instance").forEach(element => {
        const orderItems = element.querySelectorAll(".order-item");
        let totalCost = 0;
        orderItems.forEach(element => {
            const ch = element.children;
            q = parseFloat(ch[1].innerText.substring(10));
            p = parseFloat(ch[2].innerText.substring(12));
            total = q * p;
            console.log(total);

            totalCost += total;
        });

        const totalcostEl = element.querySelector(".total-cost__text").innerHTML = ("Total Cost: $" + totalCost).bold();
    });

</script>
{% endblock %}