{% extends 'delivery/layout.html' %}


{% block body %}

{% if message %}
<div class="alert alert-info" role="alert">
    {{message}}
</div>
{% endif %}

<form action="{% url 'resetpwd' %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="InputOldPassword" class="form-label">Old Password</label>
        <input type="password" class="form-control" id="InputOldPassword" name="oldPassword">
        
        <label for="InputNewPassword" class="form-label mt-5">New Password</label>
        <input type="password" class="form-control" id="InputNewPassword" name="newPassword">
        <input type="password" class="form-control mt-1" id="InputConfirmPassword" name="confirmation"
            placeholder="Confirm your new password">
    </div>
    <button type="submit" class="btn btn-danger">Reset!</button>
</form>

{% endblock %}